{% load i18n autobreadcrumb documents_menus assets %}{% load url from future %}
<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
<head>{% spaceless %}
    <meta charset="utf-8">
    <title>{% block head_title %}{{ SITE.name }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta-description %}{% endblock %}"/>
    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}"/>
    {% comment %}<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico">{% endcomment %}

    {% block html_base_links %}<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,600,700,400italic,600italic,700italic">
    {% assets "main_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}{% endblock %}
    {% block html_more_links %}{% endblock %}
    {% block html_base_js %}
        {% assets "modernizr_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% endblock %}
    {% endspaceless %}
</head>

<body>
    {% spaceless %}
    <div id="header-container"{% block header_topbar_attrs %} class="contain-to-grid"{% endblock %}>
        <div class="wrap">
            <nav class="top-bar">
                <ul id="brand-container">
                    <li class="name"><h1><a href="/" title="{{ SITE.name }}">{{ SITE.name }}</a></h1></li>
                    <li class="toggle-topbar"><a href="#"></a></li>
                </ul>

                <section>
                    <ul class="right global-menu">
                        <li class="weblog"><a href="{% url 'zinnia_entry_archive_index' %}"><span class="box3d"><i class="icon-newspaper"></i></span> {% trans "Weblog" %}</a></li>
                        <li class="documents"><a href="{% url 'documents-index' %}"><span class="box3d"><i class="icon-file"></i></span> {% trans "Documents" %}</a></li>
                        <li class="tribune"><a href="{% url 'tribune-board' %}"><span class="box3d"><i class="icon-bubbles"></i></span> {% trans "Tribune" %}</a></li>
                        {% if user.is_authenticated %}
                            <li class="has-dropdown">
                                <a href="#"><strong>{{ user.username }}</strong></a>
                                <ul class="dropdown">
                                    {% if user.is_staff %}
                                        <li><a href="{% url 'admin:index' %}">{% trans "Django admin" %}</a></li>
                                        <li{% currentwalkthroughto 'documents-board' %} class="active"{% endcurrentwalkthroughto %}><a href="{% url 'documents-board' %}">{% trans "Document management" %}</a></li>
                                        <li class="divider"></li>
                                    {% endif %}
                                    <li><a href="{% url 'auth_logout' %}">{% trans "Logout" %}</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="has-dropdown">
                                <a href="{% url 'auth_login' %}">{% trans "Login" %}</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'registration_register' %}">{% trans "Register" %}</a></li>
                                </ul>
                            </li>
                        {% endif %}

                    </ul>
                </section>
            </nav>
        </div>
    </div>{% endspaceless %}

    {% block content_container %}<div id="content-container"{% block base_content_attr %} class="row-fluid"{% endblock %}>
        {% block content %}{% endblock %}
    </div>{% endblock %}

    {% block modal_container %}{% endblock %}

    {% spaceless %}
    <div id="footer-container" class="row row-fluid">
        <div class="row content">
            <div class="twelve columns text-center">
                <p id="site-credits">{% blocktrans %}Thenon David © 2013 All rights reserved{% endblocktrans %}</p>
            </div>
        </div>
    </div>
    {% endspaceless %}

    {% spaceless %}
    {% block html_more_js %}
        {% assets "main_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% endblock %}{% endspaceless %}
</body>
</html>
