# Base
setuptools == 0.8
psycopg2 == 2.5.1
Pillow == 2.0.0
django == 1.4.5
# Better admin look
django-admin-tools == 0.5.1
# django-assets
argparse == 1.2.1
django-assets == 0.8
yuicompressor == 2.4.7
# Zinnia
BeautifulSoup == 3.2.1
cmsplugin-zinnia == 0.4
django-blog-zinnia == 0.12.3
django-tagging == 0.3.1
django-xmlrpc == 0.1.5
pyparsing == 1.5.7
pytz == 2013b
# DjangoSveetchies
Pygments == 1.5
django-mptt == 0.5.5
docutils == 0.10
django-registration == 0.8
django-simple-captcha == 0.3.4
django-crispy-forms == 1.2.7
django-braces == 1.0.0
crispy-forms-foundation == 0.2.1
djangocodemirror == 0.8.7.3
autobreadcrumbs == 0.8.1
sveeaccounts == 0.2.3.1
sveedocuments == 0.9.9.1
djangotribune == 0.6.0
rstview == 0.1.1
