{% extends "base_columned.html" %}
{% load i18n mptt_tags autobreadcrumb documents_admin %}
{% load url from future %}

{% block head_title %}{% current_title_from_breadcrumbs %}{% endblock %}
{% block html_more_links %}{{ block.super }}
    {% include "sveedocuments/board/includes/base_css.html" %}
{% endblock %}
{% block html_more_js %}{{ block.super }}
    {% include "sveedocuments/board/includes/base_js.html" %}
{% endblock %}

{% block menu_content %}
    <ul class="vertical tabs">
        <li{% block board_menu_summary_active %}{% endblock %}><a href="{% url 'documents-board' %}">{% trans "Summary" %}</a></li>
        <li{% block board_menu_pages_active %}{% endblock %}><a href="{% url 'documents-page-index' %}">{% trans "Pages" %}</a></li>
        <li{% block board_menu_inserts_active %}{% endblock %}><a href="{% url 'documents-insert-index' %}">{% trans "Inserts" %}</a></li>
    </ul>
{% endblock %}

{% block content_part %}
    {% block board_content %}{% endblock %}
{% endblock %}
